<section class="bg-gray-100 p-4 rounded-lg my-6">
  <h1 class="text-4xl mb-6 text-center">Your Cart</h1>
  <div class="flex justify-between items-center">
    <h4 class="text-main">
      Total Cart Price: {{ cartProducts.totalCartPrice | currency : "EGP " }}
    </h4>
    <div>
      <span
        [routerLink] = "['/orders', cartProducts._id]"
        class="text-green-600 cr inline-block mt-3 me-3 border-2 border-green-600 p-2 rounded hover:bg-green-500 hover:text-white duration-150 font-semibold"
        ><i class="fa-solid fa-receipt fa-xl"></i> Order</span
      >
      <span
        (click)="confirmBox()"
        class="text-red-600 cr inline-block mt-3 border-2 border-red-600 p-2 rounded hover:bg-red-500 hover:text-white duration-150 font-semibold"
        ><i class="fa-regular fa-trash-can fa-xl"></i> Clear Cart</span
      >
    </div>
  </div>

  @for (item of cartProducts.products ; track item.product.id) {
  <div
    class="contianer grid grid-cols-[50%_minmax(0,1fr)] md:grid-cols-[10%_minmax(0,1fr)] my-4 border p-4 rounded-lg border-gray-200"
  >
    <div>
      <img [src]="item.product.imageCover" [alt]="item.product.title" />
    </div>
    <div class="md:flex md:flex-row items-center justify-between p-3">
      <div>
        <h3 class="text-xl font-semibold mb-3">{{ item.product.title }}</h3>
        <h5>Price: {{ item.price * item.count | currency : "EGP " }}</h5>
        <span
          (click)="deleteItem(item.product.id)"
          class="text-red-600 cr inline-block mt-3 border-2 border-red-600 p-2 rounded hover:bg-red-500 hover:text-white duration-150"
          ><i class="fa-regular fa-trash-can fa-xl"></i
        ></span>
      </div>
      <div>
        <span
          (click)="updateQuantity(item.product.id, item.count + 1)"
          class="text-main cr inline-block mt-3 border-2 border-[var(--main-color)] p-2 rounded hover:bg-[var(--main-color)] hover:text-white duration-150"
          ><i class="fa-solid fa-plus fa-xl"></i
        ></span>
        <span class="text-main text-xl inline-block m-3">
          {{ item.count }}
        </span>
        <span
          (click)="updateQuantity(item.product.id, item.count - 1)"
          class="text-main cr inline-block mt-3 border-2 border-[var(--main-color)] p-2 rounded hover:bg-[var(--main-color)] hover:text-white duration-150"
          ><i class="fa-solid fa-minus fa-xl"></i
        ></span>
      </div>
    </div>
  </div>
  } @empty {
  <h1 class="text-2xl mt-6 border p-4 rounded-lg border-gray-200">
    Your Cart is Empty.
  </h1>
  }
</section>
