<footer class="bg-main-light py-5">
    <div class="container xl:max-w-screen-xl">
      <h2 class="mx-4 text-2xl">Get The FreshCart App</h2>
      <p class="mx-4 text-slate-500 text-sm">
        We Will Send You a Link, Open it on Your Phone to download the app
      </p>
  
      <!-- inputs design  -->
      <div class="mx-4 flex items-center gap-3 text-nowrap">
        <input type="text" class="w-full rounded my-7" placeholder="Email" />
        <button class="btn-main">Share App Link</button>
      </div>
  
      <hr />
  
      <!-- footer payment Details Design  -->
      <div class="mx-4 flex md:flex-row flex-col justify-between items-center">
        <div class="flex items-center gap-6">
          <h3 class="text-sm font-bold my-5">Payment partners</h3>
          <img src="./assets/images/amazon-pay.png" width="30px" alt="" />
          <img
            src="./assets/images/American-Express-Color.png"
            width="30px"
            alt=""
          />
          <img src="./assets/images/paypal.png" width="30px" alt="" />
          <img src="./assets/images/mastercard.webp" width="30px" alt="" />
        </div>
        <div class="flex items-center gap-6">
          <ul class="font-medium flex items-center p-4 md:p-0 mt-4 flex-row md:space-x-2 rtl:space-x-reverse md:mt-0">
            <li><a class="block px-1"><i class="cr text-lg fa fa-brands fa-instagram"></i></a></li>
              <li><a class="block px-1"><i class="cr text-lg fa fa-brands fa-facebook"></i></a></li>
              <li><a class="block px-1"><i class="cr text-lg fa fa-brands fa-tiktok"></i></a></li>
              <li><a class="block px-1"><i class="cr text-lg fa fa-brands fa-linkedin"></i></a></li>
              <li><a class="block px-1"><i class="cr text-lg fa fa-brands fa-twitter"></i></a></li>
              <li><a class="block px-1"><i class="cr text-lg fa fa-brands fa-youtube"></i></a></li>
          </ul>
        </div>
  
        <div class="flex items-center gap-6">
          <h3 class="text-sm font-bold my-5">Get Deliveries with FreshCart</h3>
          <img src="./assets/images/get-google-play.png" width="75px" alt="" />
          <img src="./assets/images/get-apple-store.png" width="75px" alt="" />
        </div>
      </div>
    </div>
  </footer>
  